/* Continuação da Main abaixo do background amarelo da Main1 da primeira pagina  */

.tMain {
    display: flex;
    height: 323.98px;
    justify-content: center;
}

.div-T {
    top: 100px;
    width: 100%;
    display: flex;
    height: 224px;
    position: relative;
    justify-content: center;
}

.divtext {
    top: 25px;
    width: 1146.64px;
    height: 80px;
    display: flex;
    font-weight: bold;
    line-height: 29px;
    position: relative;
    font-size: 20.36px;
    color: var(--azul-escuro);
    justify-content: space-between;
    font-family: var(--font-family);
}

.img-vetor {
    top: 25px;
    width: 25px;
    height: 25px;
    position: relative;
}

.Div-inf {
    height: 58px;
    width: 295.79px;
}

.Div-inf h4 {
    height: 38px;
    width: 188.87px;
    font-size: 12px;
    color: var(--cinza);
}

.btn-v {
    top: 63%;
    height: 48px;
    display: flex;
    width: 197.95px;
    position: absolute;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    background: var(--azul-claro);

}

.btn-v a {
    color: var(--branco);
    font-weight: bold;
    font-family: var(--font-family);
}