@import './css/Header.css';
@import './css/Main1-Pag1.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --preto: #000000;
    --branco: #FFFFFF;
    --amarelo: #E9A124;
    --azul-claro: #24B5E9;
    --azul-escuro: #09425B;
    --font-family: 'Montserrat', sans-serif;
}
